* {
    margin: 0;
    padding: 0;
    font-family: fantasy;
    font-size: larger;
    box-sizing: border-box;

}

.navbar {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 20px 40px 0 0;
    background:transparent;
    
    
}

.navbar .ul{
    display:flex;
    gap: 30px;
    font-family: fantasy;
    font-size: large;
    margin: 0;
    padding: 0;
    
}

.li {
    text-decoration: none;
}
.navbar .ul .li {
    list-style-type: none;
}

.navbar .ul .li .a {
    font-family: fantasy;   
    font-size: large;
    cursor: pointer;
    color: white;
}
    
.imagen-logo {
    width: 400px;
    margin: 20px;
    padding: 20px;
    border-radius: 2 solid rgb(55,94,17);
}

body {
    background-color: rgba(20, 47, 168, 0.534);
    background-repeat: no repeat;
    background-size: auto;
}

.h1 {
    color: rgb(55,94,17);
    font-size: larger;
    text-align: center;
}

.section {
    flex-direction: column;
    margin: 30px;
    padding: 20px;
}

.form {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    color: tomato;
}

.footer {
    justify-content: center;
    font-size: larger;
    width: 20px;

}

.ul {
    text-align: center;
}

.li {
    list-style-type: none;
    text-decoration: none;
}

.footer .ul .li .a {
    cursor: pointer;
    color: rgb(55, 94, 17);
}


