* {
    margin: 0;
    padding: 0;
    font-family: fantasy;
    font-size: larger;
    

}

.navbar {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 20px 40px 0 0;
    background:transparent;
    
    
}

.navbar .ul{
    display:flex;
    color: rgb(128, 26, 168);
    gap: 30px;
    list-style-type: none;
    font-family: fantasy;
    font-size: large;
    margin: 0;
    padding: 0;
    
}


.navbar .ul .li .a {
    text-decoration: none;
    
}

.navbar .ul .li .a:hover {
    cursor: pointer;
    color:rgb(128, 26, 168)
}

.imagen-logo {
    display: block;
    width: 100px;
    margin: 5px 2px 2px 5px;
    padding: 0px 0px 0px 0px;
    
}

body {
    background-color: rgba(201, 207, 235, 0.534);
    background-repeat: no repeat;
    background-size: auto;
}

.h1 {
    color: rgb(128, 26, 168);
    font-family: fantasy;
    font-size: large;
    text-align: center;
}

.section {
    flex-direction: column;
    margin: 30px;
    padding: 20px;
}

.input {
    text-align: center;
    margin: 10px;
    padding: 10px;
    border:10px ;
    border-radius: 2px solid rgb(87, 54, 87);
    cursor: pointer;
    color: rgb(26, 22, 22);
}

.label {
    cursor: pointer;
    color: rgb(128, 26, 168);
}


.footer {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 20px 40px 0 0;
    background:transparent;
    
    
}

.footer .ul{
    display:flex;
    color: rgb(128, 26, 168);
    gap: 30px;
    list-style-type: none;
    font-family: fantasy;
    font-size: large;
    margin: 0;
    padding: 0;
    
}


.footer .ul .li .a {
    
    text-decoration: none;
    
}

.footer .ul .li .a:hover {
    cursor: pointer;
    color:rgb(128, 26, 168)
}